body {
    font-family: 'Montserrat', Arial, sans-serif;
}

header {
    border-bottom: 5px solid #F7BD06;
}

h1,
h2 {
    font-weight: 900;
}

.button {
    font-size: 22pt;
    color: white;
    border-radius: 20px;
    font-weight: 900;
}

footer {
    background-color: #363636;
    font-weight: 1000;
    color: white;
}

/*   */
p>a:link,
p>a:visited,
p>a:active {
    color: white;
    text-decoration: none;
}

p>a:hover {
    color: #F7BD06;
    text-decoration: none;
}

nav a:link,
nav a:visited,
nav a:active {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

nav a:hover {
    color: #0640F7;
    text-decoration: none;
}

.cstm-link {
    text-decoration: underline;
}

#loc {
    width: 100%;
}

.main-btn {
    background-color: #F7BD06;
}

.secondary-btn {
    background-color: #0640F7;
}

.btn-subtitle {
    font-weight: 100;
    text-align: center;
}

.img-logo {
    height: 200px;
    width: auto;
}

#hero-subtitle {
    font-size: 19pt;
}

#logo {
    height: 50px;
    width: auto;
}

#logo-name {
    font-weight: 1000;
}

#pandalivery {
    width: 240px;
    background-color: #18B74D;
}

@media only screen and (max-width: 767px) {

    .button {
        font-size: 14pt;
    }

    #cta {
        font-size: 22pt;
    }
}